<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/welcome">
        <strong>PineappleTT</strong>
    </a>
    <a type="button" class="btn btn-dark" style="background-color: orange" href="/addproject">New Project</a>
    <button type="button" class="btn btn-dark" style="background-color: orange">New Task</button>
</nav>

Test

</body>
</html>