<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Projects List</title>
      <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
   </head>
   <body style="width: 100%;">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/welcome">
         <strong>PineappleTT<strong>
      </a>
      <a type="button" class="btn btn-dark" style="background-color: orange" href="/addproject">New Project</a>
      <button type="button" class="btn btn-dark" style="background-color: orange">New Task</button>
   </nav>

   <div class="row" style="width: 100%;">
      <div style="width: 60%">
         <h2 style="margin-left: 3%; margin-top: 1%;">Projects</h2>
      </div>
      <div style="width: 40%; padding-left: 30px;">
         <h2 style="margin-left: 3%; margin-top: 1%;">My Tasks</h2>
      </div>
   </div>
   <hr>
   
   <div class="row" style="width: 100%;">
      <div style="width: 60%; padding-left: 30px;">
         <ul class="list-group list-group-flush" th:each ="project : ${projects}">
            <div class="row" >
               <div style="width: 5%; text-align: center; ">
                  <li class="list-group-item list-group-item-action list-group-item-dark" th:utext="${project.id}"></li>
               </div>
               <div style="width: 95%;">
                  <li href="#" class="list-group-item list-group-item-action list-group-item-dark" th:utext="${project.name}"></li>
               </div>
            </div>
         </ul>
      </div>
      <div style="width: 40%; padding-left: 30px;">
         test
      </div>
   </div>
   <!--
      <div>
         <table border="1">
            <tr>
               <th>Id</th>
               <th>Name</th>
            </tr>

         </table>
      </div>
      <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	  <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	  <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
	  -->
   </body>
</html>