<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div th:insert="~{navbar :: copy}"></div>
    <h2 style="padding-left: 50px; padding-top: 15px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid dolorum expedita in nulla, quia similique ullam vel vero. Consequuntur distinctio doloremque, molestias mollitia nisi rem saepe temporibus veritatis vitae.</h2>
    <hr>

</body>
</html>